.register {
  .padding-top {
    padding-top: 50px;
  }
  .ant-steps {
    width: 600px;
    margin: 0 auto;
  }
  .steps-content {
    min-height: 200px;
    margin-top: 16px;
    padding-top: 80px;
    text-align: center;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
  }

  .steps-action {
    margin: 30px auto;
    .registerTypeWrapper {
      width: 500px;
      margin: 0 auto;
    }
    .registerType-item {
      position: relative;
      width: 80px;
      height: 80px;
      border: 1px solid #ebebeb;
      //margin: 0 70px;
      border-radius: 50%;
      cursor: pointer;
    }
    .registerTypeEmail {
      background: #fff url('/assets/image/email.png') no-repeat center center;
      background-size: 60%;
      &:before {
        position: absolute;
        right: -50%;
        width: 200%;
        height: 100%;
        border-left: 1px solid #eeeeee;
        content: '';
      }
    }
    .registerTypePhone {
      background: #fff url('/assets/image/phone.png') no-repeat center center;
      background-size: 60%;
    }
    .registerTypeQQ {
      background: #fff url('/assets/image/assets-qq.png') no-repeat center center;
      background-size: 50%;
      &:before {
        position: absolute;
        right: -50%;
        width: 200%;
        height: 100%;
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        content: '';
      }
    }
    .registerTypeWechat {
      background: #fff url('/assets/image/assets-wechat.png') no-repeat center center;
      background-size: 50%;
    }
  }
  .registerFirst {
    margin-top: 80px;
  }
  // 第二步
  .registerMain {
    .main-box {
      display: flex;
      //justify-content: space-between;
      justify-content: center;
      margin-top: 40px;
    }
    .select-title {
      font-weight: 400;
      font-size: 28px;
      font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Hiragino Sans GB';
      line-height: 45px;
    }
    .notice-default {
      line-height: 40px;
    }
    .subject-item {
      width: 280px;
      padding: 0 40px;
      border-right: 1px solid #eeeeee;
      cursor: pointer;
      &:last-child {
        border: 0;
      }
      &:first-child {
        .description {
          text-align: center;
        }
      }
    }
    .icon {
      height: 60px;
      text-align: center;
      .iconfont {
        color: burlywood;
        font-size: 30px;
      }
    }
    .name {
      height: 50px;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }
    .info-line {
      line-height: 50px;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
    }
    .description {
      height: 110px;
      overflow: auto;
      color: #999;
      &:first-child {
        text-align: center;
      }
    }
    .info {
      height: 160px;
      padding-top: 10px;
      padding-left: 5px;
      color: #444;
      line-height: 30px;
    }
  }
  // 第三步
  .fill-account {
    .title {
      height: 70px;
      font-size: 20px;
      line-height: 50px;
    }
    .footerBtn {
      width: 260px;
      margin: 0 auto;
    }
    .upload-icon {
      color: wheat;
      font-size: 50px;
    }
    .ant-upload-drag {
      width: 160px;
    }
    .upload-hint {
      padding-top: 10px;
      color: #999;
    }
  }
}
